@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700);
/******LightBox****/

/* line 317, ../sass/screen.sass */
.imageRow {
  *zoom: 1;
  margin: 20px 0; 
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.imageRow:after {
  content: "";
  display: table;
  clear: both;
}
/* line 320, ../sass/screen.sass */
.imageRow .single {
  float: left;
}
/* rgba() (Red Green Blue Alpha)*/
/*
color con un 50% de transparencia:
background-color:rgba(255,128,0,0.5)
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FF8000,endColorstr=#80FF8000);*/
.imageRow .single a {
  float: left;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  padding: 4px;
  line-height: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  margin-right: 40px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  
}
/* line 332, ../sass/screen.sass */
.imageRow .single a img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 335, ../sass/screen.sass */
.imageRow .single a:hover {
  background-color: #F72727;
}
/* line 337, ../sass/screen.sass */
.imageRow .set {
  float: left;
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 343, ../sass/screen.sass */
.imageRow .set:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 346, ../sass/screen.sass */
.imageRow .set .single a {
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-right: 0;
}
/* line 351, ../sass/screen.sass */
.imageRow .set .single a:hover {
  background-color: #F72727; /*rojo*/
  -webkit-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
/* line 355, ../sass/screen.sass */
.imageRow .set .single.first a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 358, ../sass/screen.sass */
.imageRow .set .single.last a {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/**********Fin de Estilos para LightBox ********/

/**************PADDING****************/
/*---Izquierdo*/
.p-izquierdo10 {padding-left: 10px}
.p-izquierdo15 {padding-left: 15px}
.p-izquierdo20 {padding-left: 20px}
.p-izquierdo25 {padding-left: 25px}
.p-izquierdo30 {padding-left: 30px}
.p-izquierdo40 {padding-left: 40px}
.p-izquierdo50 {padding-left: 50px}
.p-izquierdo60 {padding-left: 60px}
.p-izquierdo70 {padding-left: 70px}
.p-izquierdo80 {padding-left: 80px}
.p-izquierdo90 {padding-left: 90px}
.p-izquierdo100 {padding-left: 100px}

/**************MARGING****************/
/*---Superior*/
.m-superior10 {margin-top: 10px}
.m-superior20 {margin-top: 20px}
.m-superior30 {margin-top: 30px}
.m-superior40 {margin-top: 40px}
.m-superior50 {margin-top: 50px}
.m-superior60 {margin-top: 60px}
.m-superior70 {margin-top: 70px}
.m-superior80 {margin-top: 80px}
/*---Izquierdo*/
.m-izquierdo10 {margin-left: 10px}
.m-izquierdo20 {margin-left: 20px}
.m-izquierdo30 {margin-left: 30px}
.m-izquierdo40 {margin-left: 40px}
.m-izquierdo50 {margin-left: 50px}
.m-izquierdo60 {margin-left: 60px}
.m-izquierdo70 {margin-left: 70px}
.m-izquierdo80 {margin-left: 80px}
.m-izquierdo90 {margin-left: 90px}
.m-izquierdo100 {margin-left: 100px}
/*---Inferior*/
.m-inferior10 {margin-bottom: 10px}
.m-inferior20 {margin-bottom: 20px}
.m-inferior30 {margin-bottom: 30px}
.m-inferior40 {margin-bottom: 40px}
.m-inferior50 {margin-bottom: 50px}
.m-inferior60 {margin-bottom: 60px}
.m-inferior70 {margin-bottom: 70px}
.m-inferior80 {margin-bottom: 80px}
.m-inferior90 {margin-bottom: 90px}
.m-inferior100 {margin-bottom: 100px}

/* ver la class subtitulo-producto de estilos.css*/
.subtitulo-descripcion {
    font-family: "Open Sans", sans-serif;
    color: #222; 
    font-size: 14px;
	font-weight: bold;
    padding:6px 0 6px 6px; 
    background-color:#FBFBFB; 
    /*border: 1px solid #CCCCCC;*/
}
#descripcion .detalle p {
	color: #4A4A4A;
	font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: 22px;
}
#descripcion h3{
	font-family: "Open Sans", sans-serif;
    font-size:16px;
	font-weight:bold;
    color:#FF0909; /*rojo*/
  
}
#descripcion .detalle table tr td  {
    padding:18px 10px 10px 10px;
    margin:0 20px 0px 0;
    border: 1px solid #CCCCCC;
}
#descripcion .detalle{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}
#descripcion {
    padding: 20px;
    border: 1px solid #EEEEEE;
	/*background-color:#FBFBFB;*/
}



